DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': "{{ postgres_db }}",
        'USER': "{{ postgres_user }}",
        'PASSWORD': "{{ postgres_password }}",
        'HOST': "{{ postgres_host | default('postgres') }}",
        'PORT': "{{ postgres_port }}",
    }
}
BROKER_URL = 'amqp://{}:{}@{}:{}/{}'.format(
    "{{ rabbitmq_user }}",
    "{{ rabbitmq_password }}",
    "{{ rabbitmq_host }}",
    "{{ rabbitmq_port }}",
    "{{ rabbitmq_vhost }}")

CHANNEL_LAYERS = {
    'default': {'BACKEND': 'asgi_amqp.AMQPChannelLayer',
                'ROUTING': 'awx.main.routing.channel_routing',
                'CONFIG': {'url': BROKER_URL}}
}
